.new-place__block{
  width: 510px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 280px) and (max-width: 500px) {
    .new-place__block{
    width: 282px;
    }
  }