.photo_opened{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.photo_opened:hover {
  visibility: visible;
  opacity: 1;
}