.new-place-element__image{
  display: block;
  width: 282px;
  height: 282px;
  object-fit: cover;
  color: white;
  background-color: black;
}

@media screen and (max-width: 319px) {
  .new-place-element__image{
    max-width: 100%;
    max-height: 100%;
  }
}