.new-place__button-make{
  cursor: url(../../../images/Cursor.svg), pointer;
  margin: 48px auto 37px auto;
  color: #fff;
  background-color: #000;
  border: #000;
  border-radius: 2px;
  font-size: 18px;
  line-height: 100%;
  padding: 0;
  align-self: center;
  width: 358px;
  height: 50px;
}

@media screen and (min-width: 280px) and (max-width: 500px) {
  .new-place__button-make{
    margin: 45px 0 25px 0;
    font-size: 14px;
    width: 238px;
    height: 46px;
  }
}