.header{
    width: 100%;
    max-width: 880px;
    min-height: 74px;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: start;
    justify-self: start;
    border-bottom: solid 1px #545454;
  }
  
  @media screen and (min-width: 320px) and (max-width: 500px) {
    .header{
    min-width: 320px;
    min-height: 56px;
    }
  }